<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.logicalthining.endeshop.dao.CommentMapper">
    <select id="listAll" parameterType="com.logicalthining.endeshop.common.requestVo.comment.CommentQueryParams"
            resultType="com.logicalthining.endeshop.common.responseVo.comment.CommentListVo">
        SELECT
        id,
        order_id AS orderId,
        product_id AS productId,
        grade,
        time
        FROM
        s_comment
        where product_id = #{productId}
        ORDER BY id
    </select>
</mapper>
